{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-header-dark col-12">
	<h1 class="page-header-font-yellow">Password Reset</h1>
	<div class="breadcrumbs-dark">
		<span>Home</span>
		<span>/</span>
		<a href="">
			<span>Password Reset</span>
		</a>
	</div>
</div>
<section class="col-12">
	<div class="container">
		<div class="row mt-5">
			<h3>Remember those really cool words we asked you to write down when you first logged in, and we reminded you again and again
				never lose it? Now is the time to use it</h3>
			<div class="col-sm-6 offset-sm-3 text-center  mb-5">
				<div style="color: red;">{{ form.non_field_errors }}</div>
				<p>Confirm the words</p>
				<form class="col-12 p-0" id="confirm_wordlist" action="" method="POST">
					{% csrf_token %} {% for num,field in foo %}
					<div class="col-12 p-1  d-flex flex-row flex-wrap  align-items-center">
						<span class="col-4 col-md-2 px-0">Word {{num}}: </span>

						<input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{field.id_for_label}}" class="form-control col-8 col-md-10"
						 placeholder="Enter word {{num}}" value="">	
						<input type="text" name="num{{forloop.counter}}" class="invisible h-0" value="{{num}}">
					</div>{% endfor %}

					
					<input type="submit" class="col-12 btn  btn-secondary exchange-next mt-2" value="Submit">

				</form>


				<div class="col-6 offset-3 d-flex  justify-content-around mt-3">
					<a href="{% url 'auth:login'%}">Login</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="{% url 'auth:signup' %}">Signup</a>
				</div>
			</div>
		</div>
		<!--.row -->
	</div>
	<!--.container -->
	{% endblock %} {% block script %}
	{% endblock %}