{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-header-dark col-12">
	<h1 class="page-header-font-yellow">Password Reset</h1>
	<div class="breadcrumbs-dark">
		<span>Home</span>
		<span>/</span>
		<a href="">
			<span>Password Reset</span>
		</a>
	</div>
</div>
<section class="col-12">
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-6 offset-sm-3 text-center  mb-5">
				<div style="color: red;">{{ form.non_field_errors }}</div>
				<p>Reset Password</p>
				<form class="col-12 p-0" id="confirm_wordlist" action="" method="POST">
					{% csrf_token %} 
					<div class="col-12 p-1  d-flex flex-row flex-wrap  align-items-center">
						{{ form.as_p}}
						
					</div>

					
					<input type="submit" class="col-12 btn  btn-secondary exchange-next mt-2" value="Submit">

				</form>


				<div class="col-6 offset-3 d-flex  justify-content-around mt-3">
					<a href="{% url 'auth:login'%}">Login</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="{% url 'auth:signup' %}">Signup</a>
				</div>
			</div>
		</div>
		<!--.row -->
	</div>
	<!--.container -->
	{% endblock %} {% block script %}
	{% endblock %}