{% extends "base_signup.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block content %}
<div class="col-12 text-center p-5">


    <h3>{% trans 'Your password is changed successfully.' %}</h3>
    <p>Please login with your new password</p>
    <div class="pb-5 text-center col-12 white-font mtb-auto">

        <a class="btn btn-secondary exchange-next" href="{% url 'auth:login' %}">Login</a>
    </div>
</div>
{% endblock %}
