{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-header-dark col-12">
	<h1 class="page-header-font-yellow">Password Reset</h1>
	<div class="breadcrumbs-dark">
		<span>Home</span>
		<span>/</span>
		<a href="">
			<span>Password Reset</span>
		</a>
	</div>
</div>
<section class="col-12">
	<div class="container">
		<div class="row mt-5">

			<div class="col-sm-6 offset-sm-3 text-center mt-5 mb-5">
				<div style="color: red;">{{ form.non_field_errors }}</div>
				<form class="pw-reset-form " method="post" id="pw-reset-form">
					{% csrf_token %}
					<div class="">
						<div class="form-group ">
							<input type="text" size="30" value="" name="email" id="id_email" class="form-control login-input" placeholder="email">
							<span>
								<p>{{form.email.errors}}</p>
							</span>
						</div>
					</div>
					<div align="center" class="">
						<div class="contact-form-submit topmargin_20">
							<button type="submit" name="contact_submit" id="pwreset" class="btn btn-secondary exchange-next ">Reset Password</button>
						</div>
					</div>
				</form>
				<div class="col-6 offset-3 d-flex  justify-content-around mt-3">
					<a href="{% url 'auth:login'%}">Login</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="{% url 'auth:signup' %}">Signup</a>
				</div>
			</div>
		</div>
		<!--.row -->
	</div>
	<!--.container -->

	<!-- error modal -->
	<div class="modal fade col-12" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="#{{ currency }}_modalTitle"
	 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content text-center">
				<div class="d-none d-md-block modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title text-capitalize" id="">
						Error </h3>
				</div>
				<div class="col-12 d-md-none">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title text-capitalize" id="">
						Error</h5>

				</div>
				<div class="modal-body text-center">
					<span id="error_msg">

					</span>
				</div>
				<div class="modal-footer">
					<div class="col-12 text-center">
						<button class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- error modal -->

	{% endblock %} {% block script %}
	<script>
		$('#pwreset').click(function (e) {
			e.preventDefault();
			email = $("#id_email").val();
			if (email) {
				$.ajax({
					type: 'POST',
					url: "{% url 'auth:password_reset' %}",
					data: $('#pw-reset-form').serialize(),
					success: function (result) {
						if(result.success){
							window.location = "{% url 'auth:password_reset_confirm' %}";
						}
						else{
						$("#error_msg").html(result.error );
						$("#error_modal").modal("show");
						}
					},
					error: function (result) {
						$("#error_msg").text("An error occured. Please try again later. For assistance or grieviences contact support");
						$("#error_modal").modal("show");
	
					}
				});
			}
			else {
				$("#error_msg").text("Enter a valid email address");
				$("#error_modal").modal("show")
			}
		});
	</script> {% endblock %}