 {% extends 'base.html' %} {% load static %} {% block content %}

<div class="col-sm-12 text-center p-5">
	<h2>Password reset sent</h2>
</div>

<section class=" text-center">

	<div class="col-sm-6 offset-sm-3 text-justify">

		<p>
			We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive
			them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check
			your spam folder.
			<p>
	</div>
	<div class="pb-5 text-center col-12 white-font mtb-auto">

		<a class="btn btn-secondary exchange-next" href="{% url 'auth:login' %}">Login</a>
	</div>
</section>

{% endblock %}