{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-12 p-0 pb-5 coverattached"  style="background-image: url({% static 'images/newyork.jpg' %}); background-size:cover;">

    <div class="page-header-dark col-12 bg-transparent-cover">
        <h1 class="page-header-font-yellow">Who We Are</h1>
        <div class="breadcrumbs-dark">
            <span>Home</span>
            <span>/</span>
            <a href="">
                <span>About US</span>
            </a>
        </div>
    </div>
    <div class="col-10 offset-1 mt-5 bg-transparent-cover white-font p-5">
        <div class="row text-justify">
            <h1>
                About Us</h1>
            <p>


                Psalm is not just a revolutionary exchange where investors from across the globe can trade cryptocurrency with ease. We are
                a complete non-banking financial digital institution giving community members complete control of their “money”
                and investment decisions. We are dedicated to bringing our real-life finance skills and expertise to our
                global user friendly community platform. As supply and demand are created with opportunities to digitize
                common everyday assets, more cryptocurrency will be designed to monetize profits for our community.

            </p>

            <h1>Corporate Vision</h1>
            <p>The vision of our platform is different; we are focused on building a community non-bank for the blockchain era,
                which will eventually become a one-stop shop for all financial services. Brick and mortar banks have become
                just institutions with very little depositor transparency, “fine print” with increasing regulations, high
                fees to access your capital, increased penalties, and monthly account service fees. As a digitize virtual
                community non-bank financial institution, we will be able to take back control of our money. We are dedicated
                to bringing our real-life finance skills and expertise to our global user friendly community platform. As
                supply and demand are created with opportunities to digitize common everyday assets, more cryptocurrency
                will be designed to monetize profits for our community members. We will become a top cryptocurrency fintech
                non-banking company in the world in the next 3 years

            </p>
        </div>
    </div>

</div>
{% endblock %}