{% extends 'base.html' %} {% load static %} {% load transaction_status %} {% block style %} {% endblock style %} {% block wallet_content %}
<section class="section-blue wallet-wrapper container-fluid text-center">
    <div class="row">
        <div class="col-md-6 text-center white-font">

            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="/static/images/coins/{{ currency }}.png" class="img-fluid img-80">
                <h1 class="d-inline-block text-uppercase white-font">{{ currency }}</h1>
            </div>
            <h1>Recipient Address</h1>
            <div class="col-12 col-md-10 offset-md-1 mt-3">
                <textarea type="text" class="wallet-send-coin-addr" placeholder="Enter the recipient wallet address"></textarea>
            </div>

            <h1>Amount to transfer</h1>
            <div class="col-12 col-md-10 offset-md-1 mt-3">
                <textarea type="text" class="wallet-send-coin-amt" placeholder="Enter the Amount to send"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="d-inline-block text-uppercase white-font">Your {{ currency }} wallet details </h1>
            </div>

            <div class="bal-wrapper d-flex align-items-center flex-wrap col-10 offset-1">
                <div class="col-12 col-md-6 d-flex justify-content-start align-items-center">
                    <img src="/static/images/coins/{{ currency }}.png" class="img-fluid img-40">
                    <p class="d-inline-block text-uppercase">{{ currency }}</p>
                </div>
                <div class="col-12 col-md-6 float-left float-md-none">
                    <span class=" pull-right ">Bal: {% get_bal_coin currency request.user.username  %}</span>
                </div>
            </div>

          <!--   <div class="bal-wrapper d-flex align-items-center justify-content-between  flex-wrap col-10 offset-1">
                <span class="mr-auto">Estimated Mining fees : &emsp;</span>
                <span>0.00000</span> &nbsp;
                <span>BTC</span>
            </div>
            <div class="bal-wrapper d-flex align-items-center flex-wrap col-10 offset-1">
                <span class="mr-auto">Psalm Transaction : &emsp;</span>
                <span>0.00000</span> &nbsp;
                <span>BTC</span>
            </div>
            <div class="bal-wrapper d-flex align-items-center flex-wrap col-10 offset-1">
                <span class="mr-auto">Amount to send : &emsp;</span>
                <span>0.00000</span> &nbsp;
                <span>BTC</span>
            </div>
            <div class="bal-wrapper d-flex align-items-center flex-wrap col-10 offset-1">
                <span class="mr-auto">Balance after deduction : &emsp;</span>
                <span>0.00000</span> &nbsp;
                <span>BTC</span>
            </div> -->

            <!-- <div class="bal-wrapper d-flex align-items-center flex-wrap col-10 offset-1 h80 mt-3">
                <span class="mr-auto">Total Amount : &emsp;</span>
                <span class="font-weight-bold">0.00000</span> &nbsp;
                <span>{{ currency }}</span>
            </div> -->

        </div>
        <div class="col-12 text-center">
            <button href="#" onclick="send()" class="btn btn-send-coin mb-3">Confirm</button>
        </div>

<!-- modal -->

        <div class="modal fade col-12" id="confirm_Send" tabindex="-1" role="dialog" aria-labelledby="#{{ obj.name }}{{ forloop.counter}}Title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="d-block modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-capitalize" id="{{ obj.name }}{{ forloop.counter}}LongTitle"> Confirm</h3>
                </div>
                <div class="modal-body text-center">
                    <span>Recipient Address: </span><span id="to_span"></span>
                    <br>
                    <span>Recipient recieves:</span><span id="amount_span">0.00000</span><span>{{ currency }}</span>
                    <br>
                    <!-- <span>Deduction from your account : </span><span>0.00000</span><span>BTC</span> -->
                   
                    <span>Confirm Transaction?</span>
                </div>
                <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button class="btn btn-info" onclick="sendConfirm()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
<!-- endmodal -->
<!-- modal -->

    <div class="modal fade col-12" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="#{{ obj.name }}{{ forloop.counter}}Title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="d-block modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-capitalize" id="{{ obj.name }}{{ forloop.counter}}LongTitle"> Error</h3>
                </div>
                <div class="modal-body text-center">
                    <span id="errorDetails">Please enter the required fields.</span>

                </div>
                <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- endmodal -->
<!-- modal -->

    <div class="modal fade col-12" id="successModal" tabindex="-1" role="dialog" aria-labelledby="#{{ obj.name }}{{ forloop.counter}}Title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="d-block modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title text-capitalize" id="{{ obj.name }}{{ forloop.counter}}LongTitle"> Success</h3>
                </div>
                <div class="modal-body text-center">
                    <span id="errorDetails">Successfully Sent</span>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" onclick="window.location='{% url 'coins:wallets' %}'">Ok</button>
                </div>
            </div>
        </div>
    </div>
<!-- endmodal -->


    </div>
</section>
{% endblock wallet_content %}



{% block script %} 
<script type="text/javascript">
function send(){
    address = $(".wallet-send-coin-addr").val();
    amount = $(".wallet-send-coin-amt").val();
    if(!amount || !address){
        $("#errorModal").modal("show")
    }
    else{
        $.ajax({
            type: "POST",
            url: "{% url 'coins:sendcoin' currency %}",
            data: {
                'to': address,
                'amount': amount,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                if (data['success']) {
                        $("#to_span").text($(".wallet-send-coin-addr").val());
                        $("#amount_span").text($(".wallet-send-coin-amt").val());
                        $("#confirm_Send").modal("show");

                }else{
                    $("#errorDetails").text(data['error']);
                    $("#errorModal").modal("show");
                }
            }
        })
    }
}
function sendConfirm(){
    $("#confirm_Send").modal("hide");
    address = $(".wallet-send-coin-addr").val();
    amount = $(".wallet-send-coin-amt").val();
    $("#confirm_Send").modal("hide")
    $.ajax({
        type: "POST",
        url: "{% url 'coins:sendconfirm' currency %}",
        data: {
            'to': address,
            'amount': amount,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (data) {
            if (data['success']){
                $("#successModal").modal("show");
            }     
            else{
              $("#errorDetails").text(data['error']);
              $("#errorModal").modal("show");
           }
           $('#successModal').on('hidden.bs.modal', function (e) {
            location.reload();
          })
        }
    });
}
</script>
{% endblock script %}

